@charset "utf-8";
/* CSS Document */

Shape 3 { width: 387px; height: 419px; -webkit-border-radius: 17px 18px 18px 17px/18px 18px 17px 17px; -moz-border-radius: 17px 18px 18px 17px/18px 18px 17px 17px; border-radius: 17px 18px 18px 17px/18px 18px 17px 17px; background-color: #acd354; }